body {
  margin: 0;
  padding: 0;
  color: #172b41;
}

a {
  color: #172b41;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 36px;
  background: #172b41;
  padding: 11px 30px 3px;
  color: #fff;
  box-sizing: content-box;
  line-height: 1.6;
}

header .partner-header-text-right {
  display: block;
  float: right;
  padding: 0 60px;
  box-sizing: content-box;
}

header .partner-header-text-right a {
  color: #fff;
  text-decoration: none;
  box-sizing: content-box;
  font: inherit;
}

footer {
  position: relative;
  box-sizing: content-box;
}

.footer-content {
  padding: 65px 0;
  background: #131f2d;
  box-sizing: content-box;
  line-height: normal;
}

.footer-logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 60px;
}

.footer-info {
  display: inline-block;
  box-sizing: content-box;
}

.footer-info p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

.footer-info .footer-info-add {
  margin: 0 0 20px;
  color: #8b8486;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: content-box;
}

.footer-info .copy {
  color: #8b8486;
  font-size: 11.2px;
  box-sizing: content-box;
}

